.main-cont {
  background-color: #101520;
  background-image: url("../../assets/bac.svg");
  background-size: cover;

  height: 100vh;
  width: 100vw;
  overflow: hidden;

  @keyframes moveBackground {
    from {
      background-position: 0% 0%;
    }
    to {
      background-position: 10% 10%;
    }
  }
  animation: moveBackground 4s alternate-reverse infinite;
}
.mob-table {
  display: none;
}
.disc {
  font-size: 4rem;
  background-color: #f3ec78;
  height: 4rem;
  background-image: linear-gradient(90deg, #1f4ede, #d65696, #1f4ede);
  background-size: 90%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 600;
  padding-top: 1rem;
}

.title {
  font-size: 2rem;
  background-color: #f3ec78;
  background-image: linear-gradient(90deg, #d65696, #1f4ede);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 600;
}

.top-cont {
  background-color: #181e29;
  border-radius: 10px;
  width: 90vw;
  color: white;
  padding: 1rem;
}

.com-cont {
  background-color: #181e29;
  border-radius: 10px;
  width: 20%;
  color: white;
}

.blink_me {
  animation: blinker 2s linear infinite;
}

th {
  background-color: #181e29;
  padding: 1rem;
  color: #c9ced6;
  border: none;
  width: 17.5vw;
}
tr {
  background-color: transparent;
  border: none;
  border-bottom: solid #101520 2px;
}
td {
  width: 17.5vw;

  padding: 0.8rem;
  background-color: rgba(24, 30, 41, 0.2);
  border: none;
  color: #c9ced6;
}

.round {
  background-color: #1c283f;
  border-radius: 100%;
  width: 1.7rem;
  height: 1.7rem;
  cursor: pointer;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.cont::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.cont {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

@media only screen and (max-width: 600px) {
  .title {
    font-size: 1.5rem;
    background-color: #f3ec78;
    background-image: linear-gradient(90deg, #d65696, #1f4ede);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: 600;
  }
  .text {
    font-size: 0.7rem;
  }

  .tracking-text {
    font-size: 0.9rem !important;
  }
  .com-cont {
    width: 70% !important;
  }
  .web-table {
    display: none;
  }
  .mob-table {
    display: block;
    max-width: 100%; /* Ensure it takes full width of the parent */
    overflow-x: auto; /* Enable horizontal scrolling */
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 30px;
  aspect-ratio: 2.5;
  --_g: no-repeat radial-gradient(farthest-side, #ffffff 90%, #0000);
  background: var(--_g), var(--_g), var(--_g), var(--_g);
  background-size: 20% 50%;
  animation: l44 1s infinite linear alternate;
}
@keyframes l44 {
  0%,
  5% {
    background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 50%,
      calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 50%;
  }
  12.5% {
    background-position: calc(0 * 100% / 3) 0, calc(1 * 100% / 3) 50%,
      calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 50%;
  }
  25% {
    background-position: calc(0 * 100% / 3) 0, calc(1 * 100% / 3) 0,
      calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 50%;
  }
  37.5% {
    background-position: calc(0 * 100% / 3) 100%, calc(1 * 100% / 3) 0,
      calc(2 * 100% / 3) 0, calc(3 * 100% / 3) 50%;
  }
  50% {
    background-position: calc(0 * 100% / 3) 100%, calc(1 * 100% / 3) 100%,
      calc(2 * 100% / 3) 0, calc(3 * 100% / 3) 0;
  }
  62.5% {
    background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 100%,
      calc(2 * 100% / 3) 100%, calc(3 * 100% / 3) 0;
  }
  75% {
    background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 50%,
      calc(2 * 100% / 3) 100%, calc(3 * 100% / 3) 100%;
  }
  87.5% {
    background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 50%,
      calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 100%;
  }
  95%,
  100% {
    background-position: calc(0 * 100% / 3) 50%, calc(1 * 100% / 3) 50%,
      calc(2 * 100% / 3) 50%, calc(3 * 100% / 3) 50%;
  }
}
